{% extends 'PttBundle:Default:base.html.twig' %}
{% block content %}

<form action="{{ path(entityConfigurationInfo.entityName ~ '_edit', {id : app.request.get('id')}) }}" class="edit" method="post" enctype="multipart/form-data">
    <div class="form-actions">
        <div class="col-lg-9 col-md-9 col-sm-9">
            {% if page.title is defined %}
                <span>{{page.title|trans}}</span>
            {% endif %}
            <div class="right-container">
                <input type="submit" class="btn btn-save" name="save" value="{{'save'|trans}}" />
                {% if app.request.get('id') == null %}
                    <input type="submit" class="btn btn-save btn-save-another" name="another" value="{{'save_and_create_another'|trans}}" />
                {% endif %}
                {% if cancel == 1 %}
                    <a href="{{ path(entityConfigurationInfo.entityName ~ '_edit', {'id': app.request.get('id'), 'self': 1}) }}" class="btn btn-cancel">{{'cancel'|trans}}</a>
                {% else %}
                    <a href="{{ path(entityConfigurationInfo.entityName ~ '_list') }}" class="btn btn-cancel">{{'cancel'|trans}}</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    {{ form.createView()|raw }}
</form>

{% endblock %}