<!DOCTYPE html>
<html lang="en">
<head>
<title>{% if page.title is defined %}{{page.title | raw}} | {% endif %}{{info('admin').title | raw}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="{{ asset('bundles/ptt/admin/css/style.css') }}" rel="stylesheet">
<link href="{{ asset('bundles/ptt/admin/dev/vendor-static/dropzone/dropzone.css') }}" rel="stylesheet">
{% block styles %}{% endblock %}
</head>
<body id="{{ app.request.get('_route') }}">

{% block body %}{% endblock %}

<!-- <script src="http://imsky.github.io/holder/holder.js"></script> -->
{% if keymap is defined and keymap != '' %}<script src="https://maps.googleapis.com/maps/api/js?key={{keymap}}"></script>{%  endif %}

{% if isDebug() %}
<script type="text/javascript" src="{{ asset('bundles/ptt/admin/scripts/require.js') }}" data-main="{{ asset('bundles/ptt/admin/dev/admin') }}"></script>
{% else %}
<script type="text/javascript" src="{{ asset('bundles/ptt/admin/scripts/require.js') }}" data-main="{{ asset('bundles/ptt/admin/scripts/app-admin') }}"></script>
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>