{% if pagination.numberOfPages > 1 %}

    <ul class="pagination pagination-sm">

        {% if pagination.currentPage > 1 %}
            <li><a title="Go to the previous page" href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : pagination.currentPage - 1 }) }}">&laquo;</a></li>
        {% endif %}

        {% if pagination.currentPage > 5 %}
            <li><a href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : 1 }) }}">1...</a></li>
        {% endif %}

        {% for i in 1..pagination.currentPage %}
            {% if i + 5 > pagination.currentPage and i != pagination.currentPage %}
            <li><a title="Go to the page {{ i }} of {{pagination.numberOfPages}}" href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : i }) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        <li class="active"><a title="Go to the page {{ pagination.currentPage }} of {{pagination.numberOfPages}}" href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : pagination.currentPage }) }}">{{ pagination.currentPage }}</a></li>

        {% for i in pagination.currentPage+1..pagination.currentPage + 4 %}
            {% if i < pagination.numberOfPages+1 and i != pagination.currentPage %}
                <li><a title="Go to the page {{ i }} of {{pagination.numberOfPages+1}}" href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : i }) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if pagination.currentPage+4 < pagination.numberOfPages %}
            <li><a href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : pagination.numberOfPages }) }}">
            {% if pagination.currentPage+5 < pagination.numberOfPages %}
            ...
            {% endif %}
            {{pagination.numberOfPages}}</a></li>
        {% endif %}

        {% if pagination.currentPage < pagination.numberOfPages %}
            <li><a title="Go to the next page" href="{{ path(entityConfigurationInfo.entityName ~ '_list', { page : pagination.currentPage + 1 }) }}">&raquo;</a></li>
        {% endif %}

    </ul>

{% endif %}